.left-content
  .left-header
    .left-header__box
      .left-header__box__user-name
        = current_user.name
      .left-header__box__icons
        = link_to '#' do
          .far.fa-edit
        = link_to '#' do
          = icon('fas', 'cog', class: 'icon')
          -# .fas.fa-cog
  = link_to '#' do
    .group
      .group__name techcamp
      .group__new-chat まだメッセージはありません

