.left-content
  .left-header
    .left-header__box
      .left-header__box__user-name
        = current_user.name
      .left-header__box__icons
        = link_to new_group_path do
          .far.fa-edit
        = link_to edit_group_path(current_user.groups.ids) do
          .fas.fa-cog
  - current_user.groups.each do |group|
    .group
      = link_to '#' do
        .group__name
          = group.name
        .group__message
          メッセージはまだありません。
